html {

}

body {
 font-family: 'Encode Sans Condensed', 'Gill Sans MT', 'Arial', sans-serif;
 padding-bottom: 2rem;
}

header {
  font-family: 'Rokkitt', 'Palatino Linotype', 'Georgia', serif;
  text-align: center;
}

h2{
  font-size: 1rem;
  font-weight: lighter;
}

#intro {
  text-align: center;
}

.hide_img {
  display: none;
}

img {
  margin-top: 1rem;
  display: block;
  max-width: 100%;
}
